<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}<!-- title block area -->{% endblock %}</title>

    {% include 'includes/styles.html' %}
</head>
<body>
    {% include 'includes/header.html' %}

    <div class="container">
        {% block content %}<!-- main content area -->{% endblock %}
        <div class="social">
            <div class="social-item">
                <div class="g-plusone" data-size="tall" data-annotation="inline" data-width="120"></div>
            </div>
            <div class="social-item">
                <a href="https://twitter.com/share" class="twitter-share-button" data-size="120"></a>
            </div>
            <div class="social-item">
                <div class="fb-like" data-send="false" data-layout="button_count" data-width="120"></div>
            </div>
        </div>
    </div>

    {% include 'includes/scripts.html' %}
</body>
</html>