<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% include 'includes/styles.html' %}
</head>
<body>
    <div class="page">
        {% include 'includes/header.html' %}

        <div class="section">
            <div class="side">
                <div class="side__nav">
                    <ul>
                        {% for category, benchmarks in categories %}
                            <li><a href="#{{ category|lower }}">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <ul class="share">
                    <li><a target="_blank" href="https://twitter.com/CaspowaRu" class="twi"></a></li>
                    <li><a target="_blank" href="http://www.facebook.com/pages/Caspowaru/605874812756182" class="fb"></a></li>
                    <li><a target="_blank" href="http://webperformance.ru" class="rss"></a></li>
                    <!--<li><a target="_blank" href="https://plus.google.com/102092278347292301732/about" class="gplus"></a></li>-->
                </ul>
            </div>
            <div class="table-list">
                <i></i>
                {% block content %}{% endblock %}
            </div>
        </div>

        {% include 'includes/footer.html' %}
    </div>

    {% include 'includes/scripts.html' %}
</body>
</html>