{% extends "base.html" %}

{% block title %}Fast Runet{% endblock %}

{% block content %}
    {% for category, benchmarks in categories %}
        <table class="table-list__i" data-category="{{ category|lower }}">
            <thead>
                <tr>
                    <th class="table-list__no">Speed Rank</th>
                    <th class="table-list__rank">Yandex Rank</th>
                    <th class="table-list__site">Website</th>
                    <th class="table-list__load-time">Seconds to Load</th>
                </tr>
            </thead>
            <tbody>
                {% for benchmark in benchmarks %}
                    <tr>
                        <td class="table-list__no">{{ loop.index }}</td>
                        <td class="table-list__rank">{{ benchmark.rank }}</td>
                        <td class="table-list__site"><a href="{{ benchmark.uri }}" target="_blank">{{ benchmark.title }}</a></td>
                        <td class="table-list__load-time">{{ benchmark.avg_load_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}