<footer class="footer">
    <i class="shuttles js-lax" data-lax-top="500"  data-lax-bottom="-300"></i>
    <i class="clouds js-lax" data-lax-top="400"  data-lax-bottom="0"></i>
    <i class="clouds__up js-lax" data-lax-top="200"  data-lax-bottom="0"></i>
    <a href="http://caspowa.com/" target="_blank">
        <div class="powered js-lax" data-lax-top="400"  data-lax-bottom="0">
            <i></i>
            <span>powered by</span>
            <h2 class="logo-foo"><span></span></h2>
        </div>
    </a>
</footer>