{# Used custom twitter bootstrap scripts:

    Togglable tabs

#}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script>
    $(function () {
        $('.bp-benchmarks a').click(function () {
            $(this).tab('show');
        });

        var hash = location.hash;
        if (hash) {
            $('.bp-benchmarks a[href="' + hash + '"]').click();
        } else {
            $('.bp-benchmarks a:first').click();
        }
    });
</script>
<script type="text/javascript">
    var _gaq = [['_setAccount', 'UA-38993748-1'], ['_trackPageview']];
    (function(d, t) {
        var ga = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        ga.src = 'http://www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(ga, s);
    })(document, 'script');
</script>
<script type="text/javascript">
    (function(d, t) {
        var po = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        po.src = 'https://apis.google.com/js/plusone.js';
        s.parentNode.insertBefore(po, s);
    })(document, 'script');
</script>
<script>
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if(!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = '//platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    })(document, 'script', 'twitter-wjs');
</script>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=466115203438345";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'facebook-jssdk'));
</script>