<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(function () {
        var switchCategory = function () {
            var hash = location.hash.replace('#', '');
            var category = $('.table-list__i[data-category="' + hash + '"]');
            if (category.length) {
                category.siblings().hide();
                category.show();
                var link = $('.side__nav a[href="#' + hash + '"]').closest('li');
                link.siblings().removeClass('cur');
                link.addClass('cur');
            } else {
                location.hash = $('.table-list__i:first').data('category');
            }
        };
        $(window).on('hashchange', switchCategory).trigger('hashchange');

        $('.js-lax').each(function () {
            var el = $(this),
                el_mt = parseInt(el.css('margin-top'), 10),
                el_h = el.data('lax-top'),
                el_shift = el.data('lax-bottom') - el_h;

            $(window).on('scroll',function () {
                var scrollableHeight = $('body').height() - $(window).height(),
                    perc = scrollableHeight ? $(window).scrollTop() / scrollableHeight : 0;

                el.css('margin-top', el_mt + el_h + el_shift * perc);
        }).trigger('scroll');
    });
    });
</script>
<script type="text/javascript">
    var _gaq = [['_setAccount', 'UA-38993748-1'], ['_trackPageview']];
    (function(d, t) {
        var ga = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        ga.src = 'http://www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(ga, s);
    })(document, 'script');
</script>