<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-43285242-1']);
    _gaq.push(['_setDomainName', 'fastrunet.ru']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    function trackOutboundLink(action) {
        _gaq.push(['_trackEvent', 'outbound link', action])
    }

    $(function () {
        var switchCategory = function () {
            var hash = location.hash.replace('#', '');
            var category = $('.table-list__i[data-category="' + hash + '"]');
            if (category.length) {
                category.siblings().hide();
                category.show();
                var link = $('.side__nav a[href="#' + hash + '"]').closest('li');
                link.siblings().removeClass('cur');
                link.addClass('cur');
            } else {
                location.hash = $('.table-list__i:first').data('category');
            }
        };
        $(window).on('hashchange', switchCategory).trigger('hashchange');

        $('.js-lax').each(function () {
            var el = $(this),
                el_mt = parseInt(el.css('margin-top'), 10),
                el_h = el.data('lax-top'),
                el_shift = el.data('lax-bottom') - el_h;

            $(window).on('scroll',function () {
                var scrollableHeight = $('body').height() - $(window).height(),
                    perc = scrollableHeight ? $(window).scrollTop() / scrollableHeight : 0;

                el.css('margin-top', el_mt + el_h + el_shift * perc);
        }).trigger('scroll');
        });

        $(document).ready(function () {
            $('#powered_by_caspowa_link').on('click', function () {
                trackOutboundLink('redirect to Caspowa');
                _gaq.push(['_link', this.href])
            });
        });
    });
</script>
<script type="text/javascript">
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
                'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
