{# Used custom twitter bootstrap styles:

    Scaffolding
        Normalize and reset
        Body type and links
        Layouts

    Base CSS
        Headings, body, etc
        Tables

    Components
        Navs, tabs, and pills
        Navbar

    Responsive
        Narrow tablets and below (<767px)
        Large desktops (>1200px)
        Responsive navbar


    Customize variables:
        Navbar
            @navbarCollapseWidth: 450px;

 #}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
<style>
    @media (min-width: 451px) {
        body {
            padding-top: 50px;
        }
    }

    .table th.center,
    .table td.center {
        text-align: center;
    }

    .social {
        text-align: center;
    }

    .social-item {
        display: inline-block;
        margin: 0 10px;
        vertical-align: top;
    }
</style>